#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs

%:
	dh $@ --without=autoreconf --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- \
		-Dgcr=true \
		-Diso_codes=true \
		-Dlibnma_gtk4=true \
		-Dgcr=true \
		-Dmobile_broadband_provider_info=true \
		-Dgtk_doc=true \
		-Dintrospection=true \
		-Dvapi=true

# Needed for generating a translation template on Ubuntu
override_dh_gnome_clean:
	dh_gnome_clean --no-control
